<section>
  <!-- שורת חיפוש -->

  <input
    type="text"
    id="myInput"
    (keyup)="search($event)"
    dir="rtl"
    placeholder="חפש שם / תעודת זהות..."
  />

  <!-- טבלת חברים + כפתור פרטים נוספים -->

  <table id="myTable">
    <tr class="header">
      <th style="width: 60%">שם</th>
      <th style="width: 40%">תעודת זהות</th>
    </tr>
    <tr *ngFor="let m of this.membersToShow">
      <td>{{ m.first_name }} {{ m.last_name }}</td>
      <td>{{ m.id }}</td>
      <td class="plus"><a href="#popup1" (click)="openPopup(m)">+</a></td>
    </tr>
  </table>

  <!-- פופאפ המציג פרטים מורחבים לחבר שנבחר -->

  <div id="popup1" *ngIf="this.current.id" class="overlay">
    <div class="popup">
      <a class="close" href="#">&times;</a>
      <div class="container rounded bg-white mt-5 mb-5">
        <!-- תמונה -->

        <div class="row sect">
          <div class="col-md-3 border-right">
            <div
              class="d-flex flex-column align-items-center text-center p-3 py-5"
            >
              <img class="rounded-circle mt-5" width="150px" [src]="this.src" />
            </div>

            <!-- פרטים אישיים -->
            <div class="col-md-5 border-right sect">
              <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right t">פרטים אישיים</h4>
                </div>
                <div class="row mt-2">
                  <div class="col-md-6">
                    <label class="labels title">שם פרטי</label>:
                    <label class="labels data">{{
                      this.current.first_name
                    }}</label>
                  </div>
                  <div class="underline"></div>
                  <div class="col-md-6">
                    <label class="labels title">שם משפחה</label>:
                    <label class="labels data">{{
                      this.current.last_name
                    }}</label>
                  </div>
                  <div class="col-md-6">
                    <label class="labels title">תעודת זהות</label>:
                    <label class="labels data">{{ this.current.id }}</label>
                  </div>
                  <div class="col-md-6">
                    <label class="labels title">כתובת</label>:
                    <label class="labels data">{{
                      this.current.address
                    }}</label>
                  </div>
                  <div class="col-md-6">
                    <label class="labels title">מספר טלפון</label>:
                    <label class="labels data">{{
                      this.current.phone_number
                    }}</label>
                  </div>
                  <div class="col-md-6">
                    <label class="labels title">טלפון נייד</label>:
                    <label class="labels data">{{
                      this.current.mobile_phone
                    }}</label>
                  </div>
                </div>
              </div>
            </div>
            <!-- היסטוריית חיסונים וקורונה -->
            <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="text-right t">היסטוריית קורונה</h4>
              </div>
              <div class="row mt-2">
                <div *ngIf="this.vaccinations[0]" class="col-md-6">
                  <label class="labels title">חיסון ראשון:</label>
                  <label class="labels">{{ this.vaccinations[0].date }}</label
                  >,
                  <label class="labels data">{{
                    this.vaccinations[0].manufacturer
                  }}</label>
                </div>
                <div *ngIf="this.vaccinations[1]" class="col-md-6">
                  <label class="labels title">חיסון שני:</label>
                  <label class="labels">{{ this.vaccinations[1].date }}</label
                  >,
                  <label class="labels data">{{
                    this.vaccinations[1].manufacturer
                  }}</label>
                </div>
                <div *ngIf="this.vaccinations[2]" class="col-md-6">
                  <label class="labels title">חיסון שלישי:</label>
                  <label class="labels">{{ this.vaccinations[2].date }}</label
                  >,
                  <label class="labels data">{{
                    this.vaccinations[2].manufacturer
                  }}</label>
                </div>
                <div *ngIf="this.vaccinations[3]" class="col-md-6">
                  <label class="labels title">חיסון רביעי:</label>
                  <label class="labels">{{ this.vaccinations[3].date }}</label
                  >,
                  <label class="labels data">{{
                    this.vaccinations[3].manufacturer
                  }}</label>
                </div>
                <div
                  *ngIf="this.patient.diagnose_date != undefined"
                  class="col-md-6"
                >
                  <label class="labels title">אומת כחיובי בתאריך</label>:
                  <label class="labels data">{{
                    this.patient.diagnose_date
                  }}</label>
                </div>
                <div
                  *ngIf="this.patient.diagnose_date != undefined"
                  class="col-md-6"
                >
                  <label class="labels title">החלים בתאריך</label>:
                  <label class="labels data">{{
                    this.patient.recovery_date
                  }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 border-right">
        <!-- כפתורי עדכון והוספה -->
        <input (click)="update()" type="button" value="עדכון" />
        <input (click)="delete()" type="button" value="הסרה" />
      </div>
    </div>
  </div>
</section>
