<h2 class="fancy">דשבורד קורונה</h2>

<div class="container">

<!-- נתונים מספריים לגבי חיסונים -->

<h3>
  חיסון 1
  <br/>
  {{this.dose1}}
</h3>
<h3>
   חיסון 2
   <br/>
  {{this.dose2}}
</h3>
<h3>
   חיסון 3
   <br/>
  {{this.dose3}}
</h3>
<h3>
   חיסון 4
   <br/>
  {{this.dose4}}
</h3>
<h3>
  :אינם מחוסנים
  <br/>
   {{this.precentage}}%
</h3>
</div>

<!-- גרף חולים פעילים  -->

<h2 class="fancy">חולים פעילים בכל יום בחודש האחרון</h2>

<div id="container">
  <div id="Chart"></div>
</div>
<style>
  #control-container {
    padding: 0px !important;
  }
</style>