<section>
  <!-- תפריט -->

  <nav>
    <div class="wrapper">

      <!-- לוגו -->

      <div class="logo"><img width="150px" src="../../../assets\images\logo.jpg"></div>

      <!-- שדות התפריט +קישורים בראוטאר לקומפוננטות המתאימות -->
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li><a routerLink="/home">בית</a></li>
        <li><a routerLink="/members">חברי הקופה</a></li>
        <li><a routerLink="/add_member/1" >הוספת חבר חדש</a></li>
      </ul>
      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>
</section>