<!-- כותרת טופס -->

<div class="container">
  <div *ngIf="state == 1" class="text">רישום חבר חדש</div>
  <div *ngIf="state == 0" class="text">עדכון פרטי חבר קופ"ח</div>

  <!-- טופס -->

  <p class="alert" *ngIf="this.errors && !this.validForm()">
    הטופס מכיל שגיאות
  </p>
  <form [formGroup]="formG" (ngSubmit)="onSubm()" *ngIf="!this.added">
    <!-- פרטים אישיים -->

    <div class="form-row">
      <div class="input-data">
        <input type="text" required formControlName="firstname" />
        <p class="alert" *ngIf="this.Validators.required(getFirstname)">
          שדה חובה
        </p>
        <p
          class="alert"
          *ngIf="
            !this.Validators.validName(this.getFirstname) &&
            !this.formG.controls['firstname'].untouched
          "
        >
          אותיות עבריות ורווחים בלבד
        </p>
        <div class="underline"></div>
        <label for="">שם פרטי</label>
      </div>

      <div class="input-data">
        <input type="text" required formControlName="lastname" />
        <p class="alert" *ngIf="this.Validators.required(getLastname)">
          שדה חובה
        </p>
        <p
          class="alert"
          *ngIf="
            !this.Validators.validName(this.getLastname) &&
            !this.formG.controls['lastname'].untouched
          "
        >
          אותיות עבריות ורווחים בלבד
        </p>
        <div class="underline"></div>
        <label for="">שם משפחה</label>
      </div>

      <div class="input-data">
        <input type="text" required formControlName="address" />
        <p class="alert" *ngIf="this.Validators.required(getAddress)">
          שדה חובה
        </p>
        <p
          class="alert"
          *ngIf="
            !this.Validators.validaddress(this.getAddress) &&
            !this.formG.controls['address'].untouched
          "
        >
          כתובת לא תקינה
        </p>
        <div class="underline"></div>
        <label for="">כתובת</label>
      </div>
    </div>
    <div class="form-row">
      <div class="input-data">
        <input type="text" required formControlName="phonenumber" />
        <p class="alert" *ngIf="this.Validators.required(getPhonenumber)">
          שדה חובה
        </p>
        <p
          class="alert"
          *ngIf="
            !this.Validators.validPhoneNumber(this.getPhonenumber) &&
            !this.formG.controls['phonenumber'].untouched
          "
        >
          מספר טלפון לא חוקי
        </p>
        <div class="underline"></div>
        <label for="">מספר טלפון</label>
      </div>

      <div class="input-data">
        <input type="text" required formControlName="mobilephone" />
        <p class="alert" *ngIf="this.Validators.required(getMobilephone)">
          שדה חובה
        </p>
        <p
          class="alert"
          *ngIf="
            !this.Validators.validPhoneNumber(this.getMobilephone) &&
            !this.formG.controls['mobilephone'].untouched
          "
        >
          מספר טלפון לא חוקי
        </p>
        <div class="underline"></div>
        <label for="">טלפון נייד</label>
      </div>

      <div class="input-data">
        <input type="text" required formControlName="id" />
        <p class="alert" *ngIf="this.Validators.required(getId) && state == 1">
          שדה חובה
        </p>
        <p
          class="alert"
          *ngIf="
            !this.Validators.validiD(getId) &&
            !this.formG.controls['id'].untouched &&
            state == 1
          "
        >
          מספר זהות לא תקין
        </p>
        <div class="underline"></div>
        <label *ngIf="state == 1">תעודת זהות</label>
      </div>
    </div>

    <!-- חיסונים -->

    <div class="form-row">
      <div class="check">
        <input
          type="checkbox"
          (change)="check(1)"
          id="dose_1"
          *ngIf="!this.getDose1_date"
        />
        1 חיסון
        <div class="underline"></div>
      </div>
    </div>

    <div class="form-row" *ngIf="this.doses[0]">
      <div class="input-data">
        <input type="date" required formControlName="dose1_date" />
        <p
          class="alert"
          *ngIf="
            this.formG.controls['dose1_date'].untouched && !this.getDose1_date
          "
        >
          שדה חובה
        </p>
        <div class="underline"></div>
      </div>

      <div class="input-data">
        <input type="text" required formControlName="dose1_manufacturer" />
        <p
          class="alert"
          *ngIf="
            this.formG.controls['dose1_manufacturer'].untouched &&
            !getDose1_manufacturer
          "
        >
          שדה חובה
        </p>
        <div class="underline"></div>
        <label *ngIf="!this.getDose1_date" for="">יצרן</label>
      </div>
    </div>

    <div class="form-row">
      <div class="check">
        <input
          type="checkbox"
          (change)="check(2)"
          id="dose_2"
          *ngIf="!this.getDose2_date"
        />
        2 חיסון
        <div class="underline"></div>
      </div>
    </div>

    <div class="form-row" *ngIf="this.doses[1]">
      <div class="input-data">
        <input type="date" required formControlName="dose2_date" />
        <p
          class="alert"
          *ngIf="
            this.formG.controls['dose2_date'].untouched && !this.getDose2_date
          "
        >
          שדה חובה
        </p>
        <div class="underline"></div>
      </div>

      <div class="input-data">
        <input type="text" required formControlName="dose2_manufacturer" />
        <p
          class="alert"
          *ngIf="
            this.formG.controls['dose2_manufacturer'].untouched &&
            !getDose2_manufacturer
          "
        >
          שדה חובה
        </p>
        <div class="underline"></div>
        <label for="" *ngIf="!this.getDose2_date">יצרן</label>
      </div>
    </div>

    <div class="form-row">
      <div class="check">
        <input
          type="checkbox"
          (change)="check(3)"
          id="dose_3"
          *ngIf="!this.getDose3_date"
        />
        3 חיסון
        <div class="underline"></div>
      </div>
    </div>

    <div class="form-row" *ngIf="this.doses[2]">
      <div class="input-data">
        <input type="date" required formControlName="dose3_date" />
        <p
          class="alert"
          *ngIf="
            this.formG.controls['dose3_date'].untouched && !this.getDose3_date
          "
        >
          שדה חובה
        </p>
        <div class="underline"></div>
      </div>

      <div class="input-data">
        <input type="text" required formControlName="dose3_manufacturer" />
        <p
          class="alert"
          *ngIf="
            this.formG.controls['dose3_manufacturer'].untouched &&
            !getDose3_manufacturer
          "
        >
          שדה חובה
        </p>
        <div class="underline"></div>
        <label for="" *ngIf="!this.getDose3_date">יצרן</label>
      </div>
    </div>

    <div class="form-row">
      <div class="check">
        <input
          type="checkbox"
          (change)="check(4)"
          id="dose_4"
          *ngIf="!this.getDose4_date"
        />
        4 חיסון
        <div class="underline"></div>
      </div>
    </div>

    <div class="form-row" *ngIf="this.doses[3]">
      <div class="input-data">
        <input type="date" required formControlName="dose4_date" />
        <p
          class="alert"
          *ngIf="
            this.formG.controls['dose4_date'].untouched && !this.getDose4_date
          "
        >
          שדה חובה
        </p>
        <div class="underline"></div>
      </div>

      <div class="input-data">
        <input type="text" required formControlName="dose4_manufacturer" />
        <p
          class="alert"
          *ngIf="
            this.formG.controls['dose4_manufacturer'].untouched &&
            !getDose4_manufacturer
          "
        >
          שדה חובה
        </p>
        <div class="underline"></div>
        <label for="" *ngIf="!this.getDose4_date">יצרן</label>
      </div>
    </div>

    <!-- היסטוריית מחלה -->

    <div class="form-row">
      <div class="check">
        <input
          type="checkbox"
          (change)="check(5)"
          id="pos"
          *ngIf="!this.getPos_date"
        />
        אובחן/נה כחיובי/ת
        <div class="underline"></div>
      </div>
    </div>

    <div class="form-row" *ngIf="corona_patient[0]">
      <input type="date" class="da" required formControlName="pos_date" />
      <p class="alert" *ngIf="this.Validators.required(getPos_date)">
        שדה חובה
      </p>
      <div class="underline"></div>
    </div>

    <div class="form-row" *ngIf="corona_patient[0]">
      <div class="check">
        <!-- <input id="recov" type="checkbox" (change)="check(6)" > -->
        החלים/מה
        <div class="underline"></div>
      </div>
    </div>

    <div class="form-row" *ngIf="corona_patient[0]">
      <input
        type="date"
        class="da"
        required
        *ngIf="this.corona_patient[0]"
        formControlName="rec_date"
      />
      <div class="underline"></div>
    </div>
    <div class="form-row">
      <img [src]="this.default_url" height="100" *ngIf="default_url" /> <br />
      <img [src]="this.image.url" height="100" *ngIf="!default_url" /> <br />
    </div>

    <div class="form-row">
      <div class="input-image">
        <label class="image-upload-container btn btn-bwm">
          <span>בחר תמונה</span>
          <input
            #imageInput
            type="file"
            accept="image/*"
            (change)="processFile($event)"
          />
        </label>
      </div>
    </div>

    <!-- כפתור שליחה -->
    <div class="form-row">
      <div class="input-data textarea">
        <div class="form-row submit-btn">
          <div class="input-data">
            <div class="inner"></div>
            <input type="submit" value="שלח" />
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- סטטוס -->
  <p *ngIf="this.added && this.state == 1">נוסף בהצלחה</p>
  <p *ngIf="this.added && this.state == 0">עודכן בהצלחה</p>
</div>
